@import url("https://fonts.googleapis.com/css2?family=Candal&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");

body {
	margin: 0;
	font-family: $ff-body;
	font-size: 1rem;
	line-height: 1.5;
	color: $clr-brown-dark;
	font-weight: $fw-normal;
}

h1,
h2,
h3,
p,
figure {
	margin: 0;
}

p {
	margin-bottom: 1em;
}

.section__title,
.section__subtitle {
	font-family: $ff-title;
	line-height: 1;
}

.section__title {
	font-size: 4rem;
	color: $clr-blue-dark;
	line-height: 1.5;
}

.section__subtitle {
	font-size: 1.69rem;
	color: $clr-blue-light;
	font-style: italic;
	text-transform: uppercase;
	letter-spacing: 2px;
	margin-bottom: 0.5em;
}
